DEVELOPER_PASSWORD=
DEVELOPER_USERNAME=
GEMINI_API_KEY=
GROUP_PASTOR_CODE=
LOVABLE_DB_MIGRATION_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=