VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GEMINI_API_KEY=
LOVABLE_DB_MIGRATION_URL=
DEVELOPER_USERNAME=
DEVELOPER_PASSWORD=
GROUP_PASTOR_CODE=
